
.DS_Store
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/codeStyles/codeStyleConfig.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/contentModel.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/indexLayout.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/modules.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/projectSettingsUpdater.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/vcs.xml
3 term/dotNet/ETL/.idea/.idea.ETL/.idea/workspace.xml
3 term/dotNet/ETL/.idea/.idea.ETL/riderModule.iml
3 term/dotNet/ETL/ETL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
3 term/dotNet/ETL/ETL/obj/Debug/netcoreapp3.1/ETL.AssemblyInfo.cs
3 term/dotNet/ETL/ETL/obj/ETL.csproj.nuget.dgspec.json
3 term/dotNet/ETL/ETL/obj/ETL.csproj.nuget.g.props
3 term/dotNet/ETL/ETL/obj/ETL.csproj.nuget.g.targets
3 term/dotNet/ETL/ETL/obj/project.assets.json
3 term/dotNet/ETL/ETL/obj/project.nuget.cache
3 term/dotNet/ETL/ETL/obj/project.packagespec.json
3 term/dotNet/ETL/ETL/obj/rider.project.restore.info
3 term/dotNet/ETL/ETL/obj/Debug/netcoreapp3.1/ETL.assets.cache
3 term/dotNet/ETL/ETL/obj/Debug/netcoreapp3.1/ETL.csprojAssemblyReference.cache
